/*#gbx1, #gbx2 {

	background-color: #FFEBCD;
	background-image: none;
	background-position: 0 -138px;
	background-repeat: repeat-x;
	border-bottom:  1px solid #FFEBCD;
	font-size: 24px;
	text-align: center;
	height: 29px;
	opacity: 1;
    position: absolute;
    top:0;
    width: 100%;
    z-index: -1;
    
}
#gbx1{
	right:0;
}*/
#gbx2 {
	
	line-height: 38px;
	text-align: center;
	overflow: hidden;
}
#forget-text{
	position:relative;
	font-size:16px;
	font-weight: bold;
	font-family:Georgia;
	color: #FDFFFF;

}


#search_box{

	width: 100%;
	height: 38px;

}
#noteSection{
	display: none;
}
#handle {
width :20px;
height: 20px;
margin-top:4px;

}
#remove {
	
}